<footer class="footer">
  <a href="mailto:{{ site.footer-links.email }}"><i class="svg-icon email"></i></a>
  <a href="//github.com/{{ site.footer-links.github }}"><i class="svg-icon github"></i></a>
  <a href="//stackoverflow.com/{{ site.footer-links.stackoverflow }}"><i class="svg-icon stackoverflow"></i></a>
  <a href="//twitter.com/{{ site.footer-links.twitter }}"><i class="svg-icon twitter"></i></a>
  <a href="//linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="svg-icon linkedin"></i></a>

  <p>&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> Kate Travers. All rights reserved.</p>
</footer>
